.breadcrumb-item a {
    text-decoration: none;
    color: gray;
}

.breadcrumb-item a:hover {
    color: black;
}

.square-clip {
    width: 98px;
    height: 98px;
    object-fit: cover;
}

.card {
    /* width: 300px; */
    height: 100px;
}

.fs-18px {
    font-size: 18px;
}

#custom-list li {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

/* .references li {
    list-style-type: '- ';
} */

#right-sec a {
    text-decoration: none;
    color: black;
}

#right-sec a:hover{
    background-color: whitesmoke;
}

.c-font-lh {
    font-family: "Times New Roman", Times, serif;
    line-height: 1.5;
}

#c-header {
    background-color: #EEEFF0;
}

#c-footer {
    background-color: #EEEFF0;
}